Errors applying Drupal database update 8101

After updating from Apigee Edge 8.x-1.5 to 8.x-1.6 and attempting to run the database update job I get the following error:

> apigee_edge module
> Update #8101
> Failed: Drupal\Core\Entity\EntityStorageException: Exception thrown while performing a schema update. SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect table name 'apigee_devportal_tmp_568283user__authorization_drupal_roles_roles': CREATE TABLE {tmp_568283user__authorization_drupal_roles_roles} ( `bundle` VARCHAR(128) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL DEFAULT '' COMMENT 'The field instance bundle to which this row belongs, used when deleting a field instance', `deleted` TINYINT NOT NULL DEFAULT 0 COMMENT 'A boolean indicating whether this data item has been deleted', `entity_id` INT unsigned NOT NULL COMMENT 'The entity id this data is attached to', `revision_id` INT unsigned NOT NULL COMMENT 'The entity revision id this data is attached to, which for an unversioned entity type is the same as the entity id', `langcode` VARCHAR(32) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL DEFAULT '' COMMENT 'The language code for this data item.', `delta` INT unsigned NOT NULL COMMENT 'The sequence number for this data item, used for multi-value fields', `authorization_drupal_roles_roles_value` VARCHAR(255) NOT NULL, PRIMARY KEY (`entity_id`, `deleted`, `delta`, `langcode`), INDEX `bundle` (`bundle`), INDEX `revision_id` (`revision_id`) ) ENGINE = InnoDB DEFAULT CHARACTER SET utf8mb4 COMMENT 'Data storage for user field authorization_drupal_roles…'; Array ( ) in Drupal\Core\Entity\Sql\SqlContentEntityStorage->wrapSchemaException() (line 1619 of /web/core/lib/Drupal/Core/Entity/Sql/SqlContentEntityStorage.php).
> 

**Version Info**
```
$ composer show
apigee/apigee-client-php               2.0.4           Client library for connecting to the Apigee Edge API.
apigee/apigee_devportal_kickstart      1.9.0           A fast demo and starting point for Apigee Developer Portals.
asm89/stack-cors                       1.3.0           Cross-origin resource sharing library and stack middleware
bower-asset/swagger-ui                 v3.25.0
chillerlan/php-qrcode                  1.0.8           A QR code generator. PHP 7+
christian-riesen/otp                   2.6.2           One Time Passwords, hotp and totp according to RFC4226 and RFC6238
clue/stream-filter                     v1.4.1          A simple and modern approach to stream filtering in PHP
commerceguys/addressing                v1.0.6          Addressing library powered by CLDR and Google's address data.
commerceguys/intl                      v1.0.5          Internationalization library powered by CLDR data.
composer/installers                    v1.8.0          A multi-framework Composer library installer
composer/semver                        1.5.1           Semver library that offers utilities, version constraint parsing and validation.
consolidation/annotated-command        2.12.0          Initialize Symfony Console commands from annotated command class methods.
consolidation/output-formatters        3.5.0           Format text by applying transformations provided by plug-in formatters.
cweagans/composer-patches              1.6.7           Provides a way to patch Composer packages.
defuse/php-encryption                  v2.2.1          Secure PHP Encryption Library
dflydev/dot-access-data                v1.1.0          Given a deep data structure, access data by dot notation.
dnoegel/php-xdg-base-dir               v0.1.1          implementation of xdg base directory specification for php
doctrine/annotations                   v1.8.0          Docblock Annotations Parser
doctrine/cache                         1.10.0          PHP Doctrine Cache library is a popular cache implementation that supports many different drive...
doctrine/collections                   1.6.4           PHP Doctrine Collections library that adds additional functionality on top of PHP arrays.
doctrine/common                        2.12.0          PHP Doctrine Common project is a library that provides additional functionality that other Doct...
doctrine/event-manager                 1.1.0           The Doctrine Event Manager is a simple PHP event system that was built to be used with the vari...
doctrine/inflector                     1.3.1           Common String Manipulations with regard to casing and singular/plural rules.
doctrine/lexer                         1.2.0           PHP Doctrine Lexer parser library that can be used in Top-Down, Recursive Descent Parsers.
doctrine/persistence                   1.3.6           The Doctrine Persistence project is a set of shared interfaces and functionality that the diffe...
doctrine/reflection                    v1.1.0          The Doctrine Reflection project is a simple library used by the various Doctrine projects which...
drupal-composer/drupal-scaffold        2.6.1           Composer Plugin for updating the Drupal scaffold files when using drupal/core
drupal/address                         1.7.0           Provides functionality for storing, validating and displaying international postal addresses.
drupal/admin_toolbar                   2.0.0           Provides a drop-down menu interface to the core Drupal Toolbar.
drupal/adminimal_admin_toolbar         1.10.0          Adminimal styling brought to admin toolbar.
drupal/apigee_api_catalog              1.1.0           Apigee API Catalog for Drupal
drupal/apigee_edge                     1.6.0           Apigee Edge for Drupal.
drupal/apigee_m10n                     1.3.0           Apigee Edge Monetization for Drupal
drupal/authorization                   1.x-dev 7bc70e8 Authorization API connects up providers (for example LDAP) with consumers (for example Organic ...
drupal/better_exposed_filters          3.0.0-alpha6    Provides advanced options (such as links, checkboxes, or jQueryUI widgets) for exposed Views el...
drupal/captcha                         1.0.0-beta4     The CAPTCHA module provides this feature to virtually any user facing web form on a Drupal site.
drupal/commerce                        2.16.0          Drupal Commerce is a flexible eCommerce solution.
drupal/components                      1.1.0           Registers “component libraries” defined in modules and themes with the Twig system
drupal/core                            8.8.2           Drupal is an open source content management platform powering millions of websites and applicat...
drupal/ctools                          3.2.0           Provides a number of utility and helper APIs for Drupal developers and site builders.
drupal/default_content                 1.0.0-alpha8    Imports default content when a module is enabled
drupal/email_registration              1.0.0           Allows users to register with an email address as their username.
drupal/encrypt                         3.0.0-rc2       Provides an API for two-way encryption.
drupal/entity                          1.0.0-rc3       Provides expanded entity APIs, which will be moved to Drupal core one day.
drupal/entity_reference_revisions      1.7.0           Adds a Entity Reference field type with revision support.
drupal/externalauth                    1.2.0           Helper module to authenticate users using an external site / service and storing identification...
drupal/file_link                       1.7.0           Extends the core Link module by storing metadata about the target file.
drupal/fontawesome                     2.15.0          The web's most popular icon set and toolkit.
drupal/ga_login                        1.x-dev a3a7122 TFA plugins for Hmac-Based One Time Passwords & Time Based One Time Password with recovery code...
drupal/inline_entity_form              1.0.0-rc3       Provides a widget for inline management (creation, modification, removal) of referenced entities.
drupal/key                             1.12.0          Provides the ability to manage site-wide keys
drupal/ldap                            3.0.0-beta7     Lightweight Directory Access Protocol (LDAP)
drupal/ldap_servers                    3.0.0-beta7     Implements LDAP Server Configuration
drupal/legal                           1.0.0-rc1       Display Terms and Conditions statement on the registration page.
drupal/paragraphs                      1.11.0          Enables the creation of Paragraphs entities.
drupal/pathauto                        1.6.0           Provides a mechanism for modules to automatically generate aliases for the content they manage.
drupal/profile                         1.0.0           Provides configurable user profiles.
drupal/radix                           4.7.0           Radix is a base theme for Drupal. It has Bootstrap, Sass, BrowserSync and Font Awesome built-in.
drupal/real_aes                        2.2.0           Provides an Authenticated AES encryption method for Encrypt though the Defuse PHP Encryption li...
drupal/recaptcha                       2.5.0           Protect your website from spam and abuse while letting real people pass through with ease.
drupal/redis                           1.4.0           Provide a module placeholder, for using as dependency for module that needs Redis.
drupal/requirement                     1.0.0           A Drupal module to that gives modules a way to declare configuration requirement and suggestions.
drupal/security_review                 1.x-dev 9b8a34a Site security and configuration review module.
drupal/smtp                            1.0.0-beta6     Allow for site emails to be sent through an SMTP server of your choice.
drupal/state_machine                   1.0.0-rc1       Provides code-driven workflow functionality.
drupal/swagger_ui_formatter            2.4.0           Provides a Swagger UI field formatter for File and Link fields.
drupal/tfa                             1.0.0-alpha4    Pluggable provider of two factor authentication for Drupal
drupal/token                           1.6.0           Provides a user interface for the Token API, some missing core tokens.
drupal/username_enumeration_prevention 1.0.0           Prevents username enumeration on password reset and user pages.
drush/drush                            8.3.2           Drush is a command line shell and scripting interface for Drupal, a veritable Swiss Army knife ...
easyrdf/easyrdf                        0.9.1           EasyRdf is a PHP library designed to make it easy to consume and produce RDF.
egulias/email-validator                2.1.17          A library for validating emails against several RFCs
fightbulc/moment                       1.30.1          Parse, validate, manipulate, and display dates in PHP w/ i18n support. Inspired by moment.js
firebase/php-jwt                       v5.0.0          A simple library to encode and decode JSON Web Tokens (JWT) in PHP. Should conform to the curre...
guzzlehttp/guzzle                      6.5.2           Guzzle is a PHP HTTP client library
guzzlehttp/promises                    v1.3.1          Guzzle promises library
guzzlehttp/psr7                        1.6.1           PSR-7 message implementation that also provides common utility methods
jakub-onderka/php-console-color        v0.2
jakub-onderka/php-console-highlighter  v0.4            Highlight PHP code in terminal
league/period                          3.4.0           A time range immutable value object
masterminds/html5                      2.7.0           An HTML5 parser and serializer.
nikic/php-parser                       v4.3.0          A PHP parser written in PHP
oomphinc/composer-installers-extender  v1.1.2          Extend the composer/installers plugin to accept any arbitrary package type.
paragonie/constant_time_encoding       v2.3.0          Constant-time Implementations of RFC 4648 Encoding (Base-64, Base-32, Base-16)
paragonie/random_compat                v9.99.99        PHP 5.x polyfill for random_bytes() and random_int() from PHP 7
pear/archive_tar                       1.4.9           Tar file management class with compression support (gzip, bzip2, lzma2)
pear/console_getopt                    v1.4.3          More info available on: http://pear.php.net/package/Console_Getopt
pear/console_table                     v1.3.1          Library that makes it easy to build console style tables.
pear/pear-core-minimal                 v1.10.10        Minimal set of PEAR core files to be used as composer dependency
pear/pear_exception                    v1.0.1          The PEAR Exception base class.
php-http/client-common                 1.10.0          Common HTTP Client implementations and tools for HTTPlug
php-http/discovery                     1.7.4           Finds installed HTTPlug implementations and PSR-7 message factories
php-http/guzzle6-adapter               v1.1.1          Guzzle 6 HTTP Adapter
php-http/httplug                       v1.1.0          HTTPlug, the HTTP client abstraction for PHP
php-http/message                       1.8.0           HTTP Message related tools
php-http/message-factory               v1.0.2          Factory interfaces for PSR-7 HTTP Message
php-http/promise                       v1.0.0          Promise used for asynchronous HTTP requests
phpdocumentor/reflection-common        2.0.0           Common reflection classes used by phpdocumentor to reflect the code structure
phpdocumentor/reflection-docblock      4.3.4           With this component, a library can provide support for annotations via DocBlocks or otherwise r...
phpdocumentor/type-resolver            1.0.1           A PSR-5 based resolver of Class names, Types and Structural Element Names
predis/predis                          v1.1.1          Flexible and feature-complete Redis client for PHP and HHVM
psr/container                          1.0.0           Common Container Interface (PHP FIG PSR-11)
psr/http-message                       1.0.1           Common interface for HTTP messages
psr/log                                1.1.2           Common interface for logging libraries
psy/psysh                              v0.9.12         An interactive shell for modern PHP.
ralouphie/getallheaders                3.0.3           A polyfill for getallheaders.
stack/builder                          v1.0.6          Builder for stack middleware based on HttpKernelInterface.
symfony-cmf/routing                    1.4.1           Extends the Symfony2 routing component for dynamic routes and chaining several routers
symfony/class-loader                   v3.4.37         Symfony ClassLoader Component
symfony/console                        v3.4.37         Symfony Console Component
symfony/debug                          v4.4.4          Symfony Debug Component
symfony/dependency-injection           v3.4.37         Symfony DependencyInjection Component
symfony/dom-crawler                    v4.4.4          Symfony DomCrawler Component
symfony/event-dispatcher               v3.4.37         Symfony EventDispatcher Component
symfony/finder                         v3.4.37         Symfony Finder Component
symfony/http-foundation                v3.4.37         Symfony HttpFoundation Component
symfony/http-kernel                    v3.4.37         Symfony HttpKernel Component
symfony/inflector                      v5.0.4          Symfony Inflector Component
symfony/options-resolver               v4.4.4          Symfony OptionsResolver Component
symfony/polyfill-ctype                 v1.14.0         Symfony polyfill for ctype functions
symfony/polyfill-iconv                 v1.14.0         Symfony polyfill for the Iconv extension
symfony/polyfill-intl-idn              v1.14.0         Symfony polyfill for intl's idn_to_ascii and idn_to_utf8 functions
symfony/polyfill-mbstring              v1.14.0         Symfony polyfill for the Mbstring extension
symfony/polyfill-php56                 v1.14.0         Symfony polyfill backporting some PHP 5.6+ features to lower PHP versions
symfony/polyfill-php70                 v1.14.0         Symfony polyfill backporting some PHP 7.0+ features to lower PHP versions
symfony/polyfill-php72                 v1.14.0         Symfony polyfill backporting some PHP 7.2+ features to lower PHP versions
symfony/polyfill-util                  v1.14.0         Symfony utilities for portability of PHP codes
symfony/process                        v3.4.37         Symfony Process Component
symfony/property-access                v4.4.4          Symfony PropertyAccess Component
symfony/property-info                  v4.4.4          Symfony Property Info Component
symfony/psr-http-message-bridge        v1.2.0          PSR HTTP message bridge
symfony/routing                        v3.4.37         Symfony Routing Component
symfony/serializer                     v3.4.37         Symfony Serializer Component
symfony/translation                    v3.4.37         Symfony Translation Component
symfony/validator                      v3.4.37         Symfony Validator Component
symfony/var-dumper                     v3.4.37         Symfony mechanism for exploring and dumping PHP variables
symfony/yaml                           v3.4.37         Symfony Yaml Component
twig/twig                              v1.42.5         Twig, the flexible, fast, and secure template language for PHP
typo3/phar-stream-wrapper              v3.1.4          Interceptors for PHP's native phar:// stream handling
webflo/drupal-finder                   1.2.0           Helper class to locate a Drupal installation from a given path.
webmozart/assert                       1.7.0           Assertions to validate method input/output with nice error messages.
webmozart/path-util                    2.3.0           A robust cross-platform utility for normalizing, comparing and modifying file paths.
zendframework/zend-diactoros           1.8.7           PSR HTTP Message implementations
zendframework/zend-escaper             2.6.1           Securely and safely escape HTML, HTML attributes, JavaScript, CSS, and URLs
zendframework/zend-feed                2.12.0          provides functionality for consuming RSS and Atom feeds
zendframework/zend-stdlib              3.2.1           SPL extensions, array utilities, error handlers, and more

```

Hi @aarailfan,
I believe that error message is being thrown from the update of the `authorization_drupal_roles` module, that is submodule of `authorization`, it's just confusing that it's displayed alongside the apigee_edge update.

Closing. Feel free to reopen if there is something to follow up.

You were correct. Disabling these modules did allow the update to proceed.

I am using the Apigee Kickstart, which does not have the authorization_drupal_roles module, and yet I am getting this error.

apigee_edge module

Update #8101

Failed: Drupal\Core\Entity\EntityStorageException: The entity update process failed while processing the entity type user, ID: 1. in Drupal\Core\Entity\Sql\SqlContentEntityStorageSchema->copyData() (line 222 of /var/www/html/web/core/lib/Drupal/Core/Entity/Sql/SqlFieldableEntityTypeListenerTrait.php)

Hi @vvenning-lb 
Seems you are using Drupal with version less than 8.6 & now you are trying to upgrade to 8.7 & above, which gives you this error.
Well this issue is related to [Drupal's Taxonomy module](https://www.drupal.org/project/drupal/issues/3057312) in the above mentioned version. Please also check the status report of it you may get the related issue of mismatched entity.
Follow [comment 11](https://www.drupal.org/project/drupal/issues/3057312#comment-13216202) that will help you.
Thanks!


Also @vvenning-lb 
Please try to use the latest version of Drupal and the modules so that your site will run on the latest codebases.

Actually, I’m using Drupal 9.5.10, but we have had this problem since we were on Drupal 9.3.22.  I’ll pursue a solution in the direction you suggest.


From: Kedar Khaire ***@***.***>
Date: Wednesday, July 31, 2024 at 5:18 AM
To: apigee/apigee-edge-drupal ***@***.***>
Cc: Victor Venning ***@***.***>, Mention ***@***.***>
Subject: [EXTERNAL] Re: [apigee/apigee-edge-drupal] Errors applying Drupal database update 8101 (#338)

Hi @vvenning-lb<https://urldefense.com/v3/__https:/github.com/vvenning-lb__;!!Pveo!Cgov5CR9dnkbs8JFvt7hl2SOplA77ie1I9M_4Yj7_wRV21OU1bXqEzcmWJjj73xLs8rwI30712nbglk5L-gteNLIzJiT$>
Seems you are using Drupal with version less than 8.6 & now you are trying to upgrade to 8.7 & above, which gives you this error.
Well this issue is related to Drupal's Taxonomy module<https://urldefense.com/v3/__https:/www.drupal.org/project/drupal/issues/3057312__;!!Pveo!Cgov5CR9dnkbs8JFvt7hl2SOplA77ie1I9M_4Yj7_wRV21OU1bXqEzcmWJjj73xLs8rwI30712nbglk5L-gteM_sgkJA$> in the above mentioned version. Please also check the status report of it you may get the related issue of mismatched entity.
Follow comment 11<https://urldefense.com/v3/__https:/www.drupal.org/project/drupal/issues/3057312*comment-13216202__;Iw!!Pveo!Cgov5CR9dnkbs8JFvt7hl2SOplA77ie1I9M_4Yj7_wRV21OU1bXqEzcmWJjj73xLs8rwI30712nbglk5L-gteEn9QY8_$> that will help you.
Thanks!

—
Reply to this email directly, view it on GitHub<https://urldefense.com/v3/__https:/github.com/apigee/apigee-edge-drupal/issues/338*issuecomment-2260053058__;Iw!!Pveo!Cgov5CR9dnkbs8JFvt7hl2SOplA77ie1I9M_4Yj7_wRV21OU1bXqEzcmWJjj73xLs8rwI30712nbglk5L-gteOmUM5VH$>, or unsubscribe<https://urldefense.com/v3/__https:/github.com/notifications/unsubscribe-auth/AWLQ6IXWPWS7L4RRFNEC7UDZPCTXXAVCNFSM6AAAAABLXFG6UCVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDENRQGA2TGMBVHA__;!!Pveo!Cgov5CR9dnkbs8JFvt7hl2SOplA77ie1I9M_4Yj7_wRV21OU1bXqEzcmWJjj73xLs8rwI30712nbglk5L-gteCRsIvhm$>.
You are receiving this because you were mentioned.Message ID: ***@***.***>
